In [1]:
import pymysql as py
print('done')

done

In [6]:
#pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\jass\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
conn = py.connect(user = 'root',
          password = '1234',
          host = 'localhost',
          autocommit = True)
print('connection created successfulllyy')
print('done')

connection created successfulllyy
done

In [9]:
#cursor

cur = conn.cursor()
print('done')

done

In [10]:
query = '''create database IITM_DAY5;'''

cur.execute(query)
print('doneee')

doneee

In [11]:
query = 'USE IITM_DAY5;'
cur.execute(query)
print('done')

done

In [13]:
query = '''create table student_details
(
SID int not null,
Student_Name varchar(20),
Course varchar(30),
Address varchar(100),
Scholarship float
);'''

cur.execute(query)
print('donnee')

donnee

In [14]:
query = '''insert into student_details
values
(101,"mohan sharmma","BCA","delhi",5000),
(102,"sohan sharmma","MCA","delhi",6000);
'''
cur.execute(query)
print('donnee')

donnee

In [15]:
query = '''insert into student_details
values
(1001,"manmeet","mtech","jamna paar",10000),
(1002,"ANS","agriculture","gaon wala",5);
'''
cur.execute(query)
print('donnee')

donnee

In [24]:
n = 3
for i in range(n):
    sid = int(input('enter roll no/SID:  '))
    name = input('enter your name:  ')
    course = input('enter your course:  ')
    address = input('enter your address:  ')
    scholarship = float(input('enter your scholarship in RS:  '))
    
    
    q = f'''insert into student_details values
    ({sid},"{name}","{course}","{address}",{scholarship});'''
    
    cur.execute(q)
    print('record inserted succcessfullllyyyy')
print('done')

enter roll no/SID:   100001
enter your name:   utkarsh t.
enter your course:   bca
enter your address:   ayodhya
enter your scholarship in RS:   20000

record inserted succcessfullllyyyy

enter roll no/SID:   100002
enter your name:   jass
enter your course:   mca
enter your address:   delhi
enter your scholarship in RS:   20

record inserted succcessfullllyyyy

enter roll no/SID:   100003
enter your name:   vrr
enter your course:   btech
enter your address:   mh
enter your scholarship in RS:   30

record inserted succcessfullllyyyy
done

In [38]:
query = '''SELECT * FROM student_details;'''

cur.execute(query)


records = cur.fetchall()
all_columns = []
for i in cur.description:
    all_columns.append(i[0])
import pandas as pd
df = pd.DataFrame(records,columns = all_columns)
df

      SID   Student_Name       Course     Address  Scholarship
0     101  mohan sharmma          BCA       delhi       5000.0
1     102  sohan sharmma          MCA       delhi       6000.0
2    1001        manmeet        mtech  jamna paar      10000.0
3    1002            ANS  agriculture   gaon wala          5.0
4   10001           guru          bba      dwarka       1000.0
5  100001     utkarsh t.          bca     ayodhya      20000.0
6  100002           jass          mca       delhi         20.0
7  100003            vrr        btech          mh         30.0

In [35]:
all_columns = []
for i in cur.description:
    all_columns.append(i[0])

In [40]:
def show_records(db,table):
    



    query = f'''SELECT * FROM {db}.{table};'''
    
    cur.execute(query)
    
    
    records = cur.fetchall()
    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])
    import pandas as pd
    df = pd.DataFrame(records,columns = all_columns)
    return df

In [43]:
show_records('IITM_DAY5','sample_superstore')

ProgrammingError: (1146, "Table 'iitm_day5.sample_superstore' doesn't exist")